@charset "UTF-8";
/* basic default */
a:hover,
a {
  text-decoration: none;
  color: #fff !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

label {
  display: inline-block;
  margin: 0;
}

/* option default */
select,
select option {
  color: #1a1a1a !important;
}

::-webkit-input-placeholder,
select:invalid,
select option[value=""] {
  color: #ccc !important;
}

:-ms-input-placeholder,
select:invalid,
select option[value=""] {
  color: #ccc !important;
}

::-ms-input-placeholder,
select:invalid,
select option[value=""] {
  color: #ccc !important;
}

::placeholder,
select:invalid,
select option[value=""] {
  color: #ccc !important;
}

/*img RWD setting*/
img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  height: 100%;
}

/*#*/
body {
  font-family: 'Roboto', 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei';
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  overscroll-behavior-y: contain;
}

.btn-no-bg {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-border {
  border: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.no-border-b {
  border-bottom: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.no-radius {
  border-radius: 0px !important;
}

.border-b-style {
  border-bottom: 1px solid !important;
}

.cursor-d {
  cursor: default !important;
}

.cursor-p {
  cursor: pointer !important;
}

/* login*/
.login-bg-color {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #3F3F3F;
}

.login-input-block {
  max-width: 350px;
  max-height: 600px;
  background: #ffffff;
  border-radius: 10px;
  width: 85vw;
}

.line-login-btn,
.google-login-btn {
  height: 48px;
  width: 48px;
}

/*front logo*/
.logo-area {
  min-height: 100px;
}

/*bg-color*/
.bg-main {
  background-color: #E15231 !important;
}

.bg-secondary {
  background-color: #FFBC6C !important;
}

.bg-grey1 {
  background-color: #3F3F3F !important;
}

.bg-grey2 {
  background-color: #666666 !important;
}

.bg-grey3 {
  background-color: #CCCCCC !important;
}

.bg-grey4 {
  background-color: #D9D9D9 !important;
}

.bg-grey5 {
  background-color: #EBEBEB !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-waring {
  background-color: #BF1400 !important;
  color: #ffffff;
}

.bg-none {
  background: transparent !important;
  -webkit-appearance: none !important;
}

/*svg bg color*/
.ic-secondary-color a,
.ic-white-color a {
  color: #000 !important;
}

.ic-secondary-color {
  -webkit-filter: invert(91%) sepia(45%) saturate(7456%) hue-rotate(307deg) brightness(100%) contrast(101%);
          filter: invert(91%) sepia(45%) saturate(7456%) hue-rotate(307deg) brightness(100%) contrast(101%);
  color: #E15231;
}

.ic-white-color {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(2deg) brightness(103%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(2deg) brightness(103%) contrast(101%);
  color: #ffffff !important;
}

.ic-grey2-color {
  -webkit-filter: invert(40%) sepia(0%) saturate(992%) hue-rotate(151deg) brightness(95%) contrast(86%);
          filter: invert(40%) sepia(0%) saturate(992%) hue-rotate(151deg) brightness(95%) contrast(86%);
}

/*tx-color*/
.color-main {
  color: #E15231;
}

.color-black {
  color: #1a1a1a;
}

.color-grey1 {
  color: #3F3F3F;
}

.color-grey2 {
  color: #666666 !important;
}

.color-grey3 {
  color: #CCCCCC !important;
}

.color-grey4 {
  color: #D9D9D9 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-waring {
  color: #BF1400 !important;
}

/*tx-size*/
.tx-size5 {
  font-size: 0.5rem;
}

.tx-size14 {
  font-size: 14px !important;
}

.tx-size16 {
  font-size: 16px !important;
}

.tx-size18 {
  font-size: 18px !important;
}

.tx-rem11 {
  font-size: 1.1rem !important;
}

.tx-rem15 {
  font-size: 1.5rem !important;
}

/*height*/
.h-91vh {
  height: 91vh;
}

.h-30px {
  height: 30px;
}

.h-48px {
  height: 48px;
}

.h-100px {
  height: 100px;
}

.h-250px {
  height: 250px;
}

.h-40vh {
  height: 40vh;
}

.h-80vh {
  height: 80vh;
}

/*width*/
.desktop-width {
  width: 100%;
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1200px;
}

.w-15px {
  width: 15px;
}

.w-18px {
  width: 18px;
}

.w-20px {
  width: 20px;
}

.w-25px {
  width: 25px;
}

.w-30px {
  width: 30px;
}

.w-48px {
  width: 48px;
}

.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}

.w-255px {
  width: 255px;
}

.mxw-100px {
  max-width: 100px;
}

.mxw-60vw {
  max-width: 60vw;
}

/*padding*/
.pl-10px {
  padding-left: 10px !important;
}

/*margin*/
/*#*/
.store-name,
.shop-name {
  font-size: 20px;
  font-weight: 500 !important;
}

.store-notice-title,
.store-notice {
  font-size: 14px;
}

.service-title {
  color: #666666;
  background-color: #D9D9D9 !important;
}

.pick-time-btn {
  height: 68px;
  width: 88px;
  font-size: 17px;
}

.pick-day-btn {
  height: 46px;
  width: 75px;
  font-size: 17px;
}

.sidebar {
  width: 6.4rem;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

#firstStep {
  z-index: 999999999 !important;
}

div#driver-highlighted-element-stage, div#driver-page-overlay {
  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}

.driver-close-btn,
.driver-prev-btn,
.driver-done-btn {
  visibility: hidden;
  display: none;
}

.content-wrapper {
  position: relative;
  margin-left: 6.4rem;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.side-ic {
  font-size: 0.5rem;
  margin: 10px;
}

.content-tab {
  min-width: 215px;
  height: 100%;
  font-weight: 500;
}

.date-func-control {
  height: 64px;
}

.modify-control {
  height: 48px;
}

.edit-ic {
  width: 45px;
}

.timeline-ic {
  display: inline;
  margin-right: 2px;
}

.cus-info-ml {
  margin-left: 255px;
}

.cus-info-table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

.cus-info-form-scroll {
  height: 516px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-wrapper {
  position: fixed;
  margin-left: 6.4rem;
  z-index: 1055;
}

.upload-logo {
  width: 207px;
  height: 100px;
  border: #c7c7c7 1px solid;
}

/*side control panel*/
.side-panel-margin {
  margin-top: 64px;
  margin-left: 102px;
}

.offcanvas-backdrop {
  margin-top: 64px;
  margin-left: 102px;
}

.main-function-title {
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  background-color: #666666;
  color: #ffffff;
}

.sec-function-title {
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  background-color: #D9D9D9;
}

/* jq.schedule */
.jq-schedule .sc_main_box, .jq-schedule .sc_data {
  max-height: 600px;
}

.jq-schedule .sc_menu .sc_header_cell, .jq-schedule .sc_data {
  color: #666;
}

.jq-schedule .sc_menu .sc_header_cell, .jq-schedule .sc_data {
  background: #fff;
}

.jq-schedule .sc_menu .sc_header .sc_time {
  border-left: solid 1px #ccc;
  background: #fff;
  border-bottom: solid 1px #ccc;
}

.jq-schedule .sc_menu .sc_header_cell, .jq-schedule .sc_header .sc_time, .jq-schedule .sc_main_scroll .sc_time {
  color: #666;
}

.sc_data {
  border-right: 1px #ccc solid;
}

.jq-schedule .sc_main_scroll .sc_main .tl:hover {
  background: #fff;
}

.sc_header_cell {
  border-bottom: 1px #ccc solid;
}

.jq-schedule .sc_bar {
  background: #FFBC6C;
  color: #1a1a1a;
}

.jq-schedule .sc_bar .ui-resizable-handle {
  background: inherit;
}

.jq-schedule .sc_bar .head,
.jq-schedule .sc_bar .text {
  margin-top: 2px;
}

.jq-schedule .sc_bar .text {
  margin-top: 2px;
  display: inline-table;
  font-size: 15px;
}

.bar-combine-color {
  background: #BAD5F6 !important;
}

.bar-confirm-color {
  background: #91E4DF !important;
}

.bar-waiting-color {
  background: #666666 !important;
  color: #ffffff !important;
}

/*datatable*/
.select-table table.dataTable {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.select-table table.dataTable tr,
.select-table table.dataTable td,
.select-table table.dataTable tbody {
  border: none !important;
}

table.dataTable > tbody > tr.selected > * {
  -webkit-box-shadow: inset 0 0 0 9999px #ffbc6c !important;
          box-shadow: inset 0 0 0 9999px #ffbc6c !important;
  color: #1a1a1a !important;
}

/*calendar*/
.tui-full-calendar-today {
  border-color: #FFBC6C !important;
  border: 1px solid;
  z-index: 999;
}

.cal-mt {
  margin-top: 48px;
}

.calendar-h {
  height: 600px;
}

/*datepicker*/
.tui-datetime-input {
  width: 150px;
}

.tui-datepicker-input {
  border: none;
  border-bottom: 1px solid #ddd;
}

.tui-datepicker-input > input {
  font-size: 16px;
}

/*tag input*/
.fa-sr-only, .fa-sr-only-focusable:not(:focus), .sr-only, .sr-only-focusable:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bootstrap-tagsinput input {
  width: 126px;
}

/* collapse icon change */
[aria-expanded="false"] .submenu-icon-close {
  display: inline;
}

[aria-expanded="false"] .submenu-icon-open {
  display: none;
}

[aria-expanded="true"] .submenu-icon-close {
  display: none;
}

[aria-expanded="true"] .submenu-icon-open {
  display: inline;
}

/*RWD*/
@media screen and (min-width: 1025px) and (max-width: 1180px) {
  .cus-info-form-scroll {
    height: 569px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1181px) {
  .calendar-h {
    height: 700px;
  }
}
/*# sourceMappingURL=main.css.map */